body {
  background-color: #fff;
}

footer {
  background: none;
}

/* Main page title */
h1 {margin:0; border-bottom:1px solid #eee;}
h1, h2 {font-size:24px;}

/* Redundant Mezzanine titles */
legend {display:none;}
fieldset {margin-top:20px;}

/* Rating widget with up/down arrows */
.rating {float:left; margin-top:-15px;}
.rating form {display:none !important;}
.rating i {display:block !important;}
.arrows {float:left; margin-top:-5px;}

.domain {font-weight:normal; font-size:14px; color:#999;}
.link-item .rating {
    background-color: #efefef;
    padding: 10px;
    margin: 0 20px 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:75px;
    text-align:center;
}
.link-view .rating i {float:left; margin:8px 0 0 -4px;}
.link-item .arrows {
    margin: 0 10px 0 0;
    background-color: #fff;
    padding: 7px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.link-item .score {
  font-size: 30px;
  line-height: 40px
}
.score, .arrows {opacity:.6;}
.link-meta .rating {margin:0 5px 0 0 !important;}
#comments .rating {margin:1px 5px 0 3px !important;}
#comments .rating i {opacity:0.7;}

/* Link listing, details */
.link-item, .comment-item {
    margin: 0;
    padding: 15px 0 15px 0;
    border-bottom:1px solid #eee;
}
.link-meta, .link-detail, .comment-item, #comments {font-size:12px; color:#666;}
.link-meta {margin:10px 0;}
.link-item h2 {line-height:15px;}
.link-item .rating, .link-detail {float:left;}
/*.link-negative {opacity:.5;}*/

/* Comments */
#comments h3 {font-weight:normal; font-size:20px; border-top:1px solid #eee;
              padding-top:5px; margin:20px 0 -5px 0;}
#comment .control-group, .reply-form .control-group {display:none;}
#comment .input_id_comment, .reply-form .input_id_comment {display:block;}
#comment label {margin-top:20px;}
#comments li {padding:10px 0; border:0; background:none; margin:0;}
.comment-thread ul {margin:0; padding:0 0 0 25px !important;}
.comment-meta, .comment-links {color:#999; margin:0; font-size:11px;}
.comment-links {padding-bottom:5px; border-bottom:1px solid #eee;}
.comment-comment {margin-bottom:5px;}

