
/* Main page title */
h1 {margin:0 0 20px 0; border-bottom:1px solid #eee;}

/* Redundant Mezzanine titles */
#comments h3, legend {display:none;}

/* Rating widget with up/down arrows */
.rating {float:left; margin-top:-15px;}
.rating form {display:none !important;}
.rating i {display:block !important;}
.link-view .rating i {float:left; margin:8px 0 0 -4px;}
.arrows {float:left; margin-top:-5px;}
.link-item .score {font-size:30px;}
.score, .arrows {opacity:.6;}
#comments .rating, .link-meta .rating {margin:0 5px 0 0 !important;}

/* Link listing, details */
.link-item {margin:10px 0 25px 0; padding:10px 0; border-bottom:1px solid #eee;}
.link-meta, .link-detail, #comments {font-size:12px; color:#666;}
.link-meta {margin:10px 0;}
.link-item h2 {line-height:15px;}
.link-detail {margin:-25px 0 0 10px;}
.link-item .rating, .link-detail {float:left;}

/* Comments */
#comment .control-group, .reply-form .control-group {display:none;}
#comment .input_id_comment, .reply-form .input_id_comment {display:block;}
#comment label {margin-top:20px;}
#comments li {padding:2px 0 2px 10px; border-width:1px 0 0 0; background:none; margin:0;}
.comment-thread {margin:0; padding:0 0 0 10px !important;}

