{% extends "base.html" %}
{% load i18n future mezzanine_tags %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}{{ profile_user.username }} ({{ profile_user.get_profile.karma }}){% endblock %}
{% block body_id %}account{% endblock %}

{% block main %}
{% if profile_user == request.user %}
<div class="pull-right">
    <a class="btn btn-large btn-primary" href="{% url "profile_update" %}">Update profile</a>
</div>
{% endif %}
<div class="clearfix">
    <p>{{ profile_user.get_profile.bio }}</p>
    <a href="{% url "user_comments" profile_user.username %}">comments</a> |
    <a href="{% url "user_links" profile_user.username %}">links</a>
</div>
{% endblock %}
