{% extends "base.html" %}
{% load i18n future mezzanine_tags %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}{{ profile_user.profile }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block main %}
{% if profile_user == request.user %}
<div class="pull-right">
    <a class="btn btn-large btn-primary btn-profile" href="{% url "profile_update" %}">Update profile</a>
</div>
{% endif %}
<div class="clearfix">
    <p class="bio">{{ profile_user.profile.bio }}</p>
    <a href="{% url "comment_list_user" profile_user.username %}">comments</a> |
    <a href="{% url "link_list_user" profile_user.username %}">links</a>
</div>
{% endblock %}
