{% extends "base.html" %}

{% load mezzanine_tags rating_tags future %}

{% block meta_title %}{{ title|default:"Home" }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}

{% for link in links %}
<div class="link-item clearfix">
    {% rating_for link %}
    <div class="link-detail">
        <h2><a href="{{ link.link }}">{{ link.title }}</a></h2>
        by <a href="{% url "profile" link.user.username %}">{{ link.user.username }}</a>
        {{ link.publish_date|timesince }} ago |
        <a class="comments" href="{{ link.get_absolute_url }}">{{ link.comments_count }} comment{{ link.comments_count|pluralize }} </a>
    </div>
</div>
{% empty %}
<p>Whoa, there's like, literally no data here, like seriously, I totally got nothin.</p>
{% endfor %}

{% pagination_for links %}

{% endblock %}
