{% extends "base.html" %}

{% load mezzanine_tags rating_tags %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}Links for {{ profile_user.username }}{% endblock %}

{% block main %}

{% for link in links %}
<div class="link-item">
    <div class="link-detail">
        <h2><a href="{{ link.link }}">{{ link.title }}</a></h2>
        {{ link.publish_date|timesince }} ago |
        <a class="comments" href="{{ link.get_absolute_url }}">{{ link.comments_count }} comment{{ link.comments_count|pluralize }} </a>
    </div>
    <br clear="left">
</div>
{% endfor %}

{% pagination_for links %}

{% endblock %}
