{% extends "base.html" %}

{% load mezzanine_tags rating_tags comment_tags drum_tags future %}

{% block meta_description %}{% metablock %}{{ object.description }}{% endmetablock %}{% endblock %}
{% block meta_title %}{{ object.title }}{% endblock %}
{% block title %}
<a href="{{ object.link }}">{{ object.title }}</a>
<span class="domain">({{ object.domain }})</span>
{% endblock %}

{% block main %}
<div class="link-view">
    <p class="description">{{ object.description }}</p>
    <div class="link-meta">
        {% rating_for object %}
        by <a href="{% url "profile" object.user.username %}">{{ object.user.profile }}</a>
        {{ object.publish_date|timesince }} ago
    </div>
    {% order_comments_by_score_for object %}
    {% comments_for object %}
</div>
{% endblock %}
